<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minnie.rec_web">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    //創建、刪除文件
    <application
        android:allowBackup="true"
        android:background="@drawable/background"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CoverActivity">
            /*設定起始畫面*/
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        /*必要*/
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".MenuActivity"></activity>
        <activity
            android:name=".CatalogActivity"
            android:label="工威阿"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>